
.edw-btn {
  color: #fff !important; 
  border: 1px solid #7c8080 !important;
    background-color: #898d8d !important;
}

.edw-btn:hover {
  color: #fff !important;
  border-color: #780a1c !important;
  background-color: #990c23 !important;
}